#social_media a {
  color: #555555;
}

.intro-header {
  margin-top: 0;
}

.home .intro-header {
    padding-top: 130px;
    margin-bottom: 0;
    background: #4a86cf;
    color: white;
}

.intro-header .page-heading h1 {
    font-size: 50px;
}
