#top {
  margin: 0 0 6px;
  font-size: 37px;
  text-shadow: 0 1px 0 #fff;
  line-height: normal;
  letter-spacing: -0.05em;
  color: #0489B7;
}

.main-feature {
  font-size: 16pt;
  line-height: 130%;
  margin-top: 20px;
}
